<!-- navbar start -->
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
      <span class="navbar-brand right-border p-r-15" href="home">Techniche 
      </span>
      <!-- <a class="navbar-brand" href="#">
        <img src="https://www.technicheindia.com/assets/images/logo.png" alt="Logo" width="140" height="30">
      </a> -->
      <button class="navbar-toggler me-auto mb-2 mb-lg-0 mt-10" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngIf="permissions.tickets">
            <a class="nav-link" aria-current="page" href="ticket">Tickets</a>
          </li>
          <li class="nav-item" *ngIf="permissions.asset">
            <a class="nav-link" aria-current="page" href="assets">Assets</a>
          </li>
          <li class="nav-item" *ngIf="permissions.task">
            <a class="nav-link" aria-current="page" href="tasks">Tasks</a>
          </li>
          <li class="nav-item" *ngIf="permissions.report">
            <a class="nav-link" aria-current="page" href="reports">Reports</a>
          </li>
          <li class="nav-item" *ngIf="permissions.attendance">
            <a class="nav-link" aria-current="page" href="attendance">Attendance</a>
          </li>
          <li class="nav-item dropdown" *ngIf="permissions.userprofile || permissions.customer || permissions.permission">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu width-fit-content">
              <li *ngIf="permissions.userprofile"><a class="nav-link dropdown-item p-l-10-imp" href="user">Users</a></li>
              <li *ngIf="permissions.userprofile"><hr class="dropdown-divider"></li>
              <li *ngIf="permissions.customer"><a class="nav-link dropdown-item p-l-10-imp" href="customer">Customers</a></li>
              <li *ngIf="permissions.permission"><hr class="dropdown-divider"></li>
              <li *ngIf="permissions.permission"><a class="nav-link dropdown-item p-l-10-imp" href="roles">Roles</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown" *ngIf="permissions.logentry">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Config
            </a>
            <ul class="dropdown-menu width-fit-content">
              <li *ngIf="permissions.logentry"><a class="nav-link dropdown-item p-l-10-imp" href="workflow">Workflow</a></li>
              <li *ngIf="permissions.logentry"><hr class="dropdown-divider"></li>
              <li *ngIf="permissions.logentry"><a class="nav-link dropdown-item p-l-10-imp" href="email">Email</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li> -->
          <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li> -->
        </ul>
      </div>
      <a class="pr-10" href="myprofile" *ngIf="isStaff">
        <img *ngIf="!profilePictureData" src="/assets/placeholder-avatar.jpg"
        class="rounded-circle" alt="example placeholder" style="width: 40px;" />
        <img *ngIf="profilePictureData" [src]="profilePictureData"
        class="rounded-circle" alt="example placeholder" style="width: 40px;" />
      </a>
      <a class="pr-10" href="custprofile" *ngIf="!isStaff">
        <img *ngIf="!profilePictureData" src="/assets/placeholder-avatar.jpg"
        class="rounded-circle" alt="example placeholder" style="width: 40px;" />
        <img *ngIf="profilePictureData" [src]="profilePictureData"
        class="rounded-circle" alt="example placeholder" style="width: 40px;" />
      </a>
      <form [formGroup]="logOutForm" class="d-flex" role="logOut" (ngSubmit)="logOut()">
        <button class="btn btn-outline-danger" type="submit">Log Out</button>
      </form>
      <!-- <button (ngClick)="logOut()" class="badge bg-secondary btn btn-black">Log Out</button> -->
      <!-- <a ><span (ngClick)="logOut()" class="badge bg-secondary h-25-i p-t-5">Log Out</span></a> -->
    </div>
  </nav>
  <!-- <div class="alert alert-dark" role="alert">
    A simple dark alert—check it out!
  </div> -->
  <!-- navbar end -->