/* You can add global styles to this file, and also import other style files */
@import ".\\node_modules\\ngx-toastr\\toastr.css";
*{
    margin: 0;
    padding: 0;
}
a.grid-nav:link, a.grid-nav:visited {
  color: green;
  text-decoration: none;
}
a.nav-link:hover{
  font-weight: 600;
}
.container{
  padding-top:80px;
}
body{
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}
/* TOASTR BUGFIX */
#toast-container > div {
  opacity: 1;
  position: fixed;
  font-family: FontAwesome;
  right: 0;
  bottom: 0;
  color: #FFF;
}
.toast {
  font-size: initial !important;
  border: initial !important;
  backdrop-filter: blur(0) !important;
}
.toast-success {
  background-color: #51A351 !important;
}
.toast-error {
  background-color: #BD362F !important;
}
.toast-info {
  background-color: #2F96B4 !important;
}
.toast-warning {
  background-color: #F89406 !important;
}
.pl-10{
  padding-left: 10px;
}
.pr-10{
  padding-right: 10px;
}
.float-right{
  float: right;
}
.pt-35{
  padding-top: 35px;
}
.mt-10{
  margin-top: 10px;
}
.ml-5{
  margin-left: 5px;
}
.pl-75-imp{
  padding-left: 75px !important;
}
.footer-buttons{
  position: absolute;
  right: 20px;
  bottom: 55px;
  transform: translate(0, 100%);
}
.fs-20{
  font-size: 20px;
}
.p-t-2{
  padding-top: 2px;
}