<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="sidenav">
         <div class="login-main-text">
            <h2>Techniche <br>Support</h2>
            <p>When you need to network, we need to talk.</p>
         </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form [formGroup]="loginForm" (ngSubmit)="logIn()">
                  <div class="form-group">
                     <label>User Name</label>
                     <input formControlName="username" type="text" class="form-control m-t-10 m-b-10" placeholder="User Name">
                  </div>
                  <div class="form-group">
                     <label>Password</label>
                     <input formControlName="password" type="password" class="form-control m-t-10 m-b-20" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-outline-success">Log In</button>
                  <!-- <button type="submit" class="btn btn-secondary">Register</button> -->
               </form>
            </div>
         </div>
      </div>